.container
  .row-fluid
    .span12
      = render :partial => "shared/header"
      
  .row-fluid.content    
    .span12
      .row-fluid
        .span12
          %div
            %h2 Ist Zusand der Berliner ÖPNV Aufzüge
            %ul{:id=>'liftsList'}
              = render :partial => 'stations/list/station', :collection => @stations
              
  .row-fluid
    .span12
      = render :partial => "shared/footer"

- content_for :javascripts do
  = javascript_include_tag "jquery.flot.min"
  = javascript_include_tag "jquery.flot.pie.min"
  = javascript_include_tag "stations"