.container
  = render :partial => "shared/header"

  .row-fluid.content
    .span12
      .row-fluid
        .span12
          %div
            %h2.station.header
              %span.status{:class => @station.broken? ? "broken" : "working"  }
                = @station.name
            %ul.lift-list{:id=>'lift-list'}
              = render :partial => 'lifts/lift', :collection => @station.lifts

  = render :partial => "shared/footer"

- content_for :javascripts do
  = javascript_include_tag params[:controller] + "/jquery-flot.js"
  = javascript_include_tag params[:controller] + "/jquery-flot-pie.js"
  = javascript_include_tag params[:controller] + "/stations.js"
