
.container
  .row-fluid
    .span12
      = render :partial => "shared/header"
      
  .row-fluid.content
    .span1
    
    .span11
      .row-fluid
        .span12
          %div
            %h2
              = @station.name 
              - if @station.lifts_working == @station.lifts_total
                != image_tag( 'workinglift_big.png')
              - else
                != image_tag( 'brokenlift_big.png')
            %ul{:id=>'liftsList'}
              = render :partial => 'lifts/lift', :collection => @station.lifts
    
  .row-fluid
    .span12
      = render :partial => "shared/footer"

- content_for :javascripts do
  = javascript_include_tag "stations"