
.container
  .row-fluid
    .span12
      = render :partial => "shared/header"
      
  .row-fluid.content    
    .span12
      .row-fluid
        .span12
          %div
            %h2.station.header{:class => @station.lifts_working == @station.lifts_total ? "working" : "broken" }
              %span= @station.name 
            %ul.status-list{:id=>'lifts-list'}
              = render :partial => 'lifts/lift', :collection => @station.lifts
    
  .row-fluid
    .span12
      = render :partial => "shared/footer"

- content_for :javascripts do
  = javascript_include_tag "jquery.flot.min"
  = javascript_include_tag "jquery.flot.pie.min"
  = javascript_include_tag "stations"