%li{:data => {:lift_id => "#{lift.id}"}}
  %span.status-small{:class => lift.broken? ? "broken" : "working"}
    = lift.description

  %div{:class => "chart-container" }
    .row-fluid.chart-row{:style=>"margin-bottom: 5px; padding: 10px 0;" }
      .span6
        .row-fluid{:style=>"padding: 0 5px;" }
          .span6
            %div.chart{:id=>"downtime-percentage-#{lift.id}" }
          .span6
            %h3= "Ausfallzeit"
            %div.chart-description{:id=>"downtime-percentage-description-#{lift.id}" }

      .span6
        .row-fluid{:style=>"padding: 0 5px;" }
          .span6
            %div.chart{:id=>"downtime-absolute-#{lift.id}" }
          .span6
            %h3= "Ausfallquote"
            %div.chart-description{:id=>"downtime-absolute-description-#{lift.id}" }

    .row-fluid.chart-row{:style=>"margin-bottom: 10px; padding: 10px 0;" }
      .span12
        .row-fluid{:style=>"padding: 0 5px;" }
          .span9{:style=>"margin-left: 5px;" }
            %div.chart{:id=>"downtime-history-#{lift.id}" }
          .span3{:style=>"padding-left: 6px;margin-left: 1px;" }
            %h3= "Ausfallhistorie"
            %div.chart-description{:id=>"downtime-history-description-#{lift.id}" }
