%li{:data => {:lift_id => "#{lift.id}"}, :class=>"framed"}
  %span.status{:class => lift.broken? ? "broken" : "working"}
    = lift.description
      
  %div{:style=>"padding: 10px 30px;" }
    .row-fluid.chartRow{:style=>"margin-bottom: 5px; padding: 10px 0;" }
      .span6
        .row-fluid{:style=>"padding: 0 5px;" }
          .span6
            %div.chart{:id=>"downTimePercentage_#{lift.id}" }
          .span6
            %h3= "Ausfallquote"
            %div.chartDescription{:id=>"downTimePercentageDescription_#{lift.id}" }
              
      .span6
        .row-fluid{:style=>"padding: 0 5px;" }
          .span6
            %div.chart{:id=>"downTimeAbsolute_#{lift.id}" }
          .span6
            %h3= "Ausfallzeit"
            %div.chartDescription{:id=>"downTimeAbsoluteDescription_#{lift.id}" }
              
    .row-fluid.chartRow{:style=>"margin-bottom: 10px; padding: 10px 0;" }
      .span12
        .row-fluid{:style=>"padding: 0 5px;" }
          .span9{:style=>"margin-left: 5px;" }
            %div.chart{:id=>"downTimeHistory_#{lift.id}" }
          .span3{:style=>"padding-left: 6px;margin-left: 1px;" }
            %h3= "Ausfallhistorie"
            %div.chartDescription{:id=>"downTimeHistoryDescription_#{lift.id}" }