%li{:data => {:lift_id => "#{lift.id}"}}
  %span.status-small{:class => lift.broken? ? "broken" : "working"}
    = lift.description

  %div{:class => "chart-container" }
    .row-fluid.chart-row{:style=>"margin-bottom: 5px; padding: 10px 0;" }
      .span6
        .row-fluid{:style=>"padding: 0 5px;position:relative;", :id=>"downtime-percentage-#{lift.id}" }
          .span6
            %div.chart
          .span6
            %h3{:style => "display: none"}
              = "Ausfallzeit"
            %div.chart-description
          .loading
            %div
              .ico-loader
              .message
                Lade Daten...

      .span6
        .row-fluid{:style=>"padding: 0 5px;position:relative;", :id=>"downtime-absolute-#{lift.id}"  }
          .span6
            %div.chart
          .span6
            %h3{:style => "display: none"}
              = "Ausfallquote"
            %div.chart-description
          .loading
            %div
              .ico-loader
              .message
                Lade Daten...

    .row-fluid.chart-row{:style=>"margin-bottom: 10px; padding: 10px 0;" }
      .span12
        .row-fluid{:style=>"padding: 0 5px;position:relative;", :id=>"downtime-history-#{lift.id}"  }
          .span9{:style=>"margin-left: 5px;" }
            %div.chart
          .span3{:style=>"padding-left: 6px;margin-left: 1px;" }
            %h3{:style => "display: none"}
              = "Ausfallhistorie"
            %div.chart-description
          .loading
            %div
              .ico-loader
              .message
                Lade Daten...
